.Rproj.user
.Rhistory
*.Rdata
.httr-oauth
.DS_Store
.quarto
archive/
figures/
*.xlsx

#source files from other publications
data/GPDD/original/
data/plankton/original/
data/LP/lifehistory/

#some plankton data not redistributable
data/plankton/plankton_series.csv

#LP data not redistributable
data/LP/LP_series.csv
